<h1>Listing games</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Abbreviation</th>
  </tr>

<% for game in @games %>
  <tr>
    <td><%= link_to h( game.name ), game %></td>
    <td><%= h( game.abbreviation ) %></td>
  </tr>
<% end -%>
</table>

<br />

<%= will_paginate @games %>

<br />

<%= link_to 'New game', new_game_path %>
